<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Swasthya-E-Mitra" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Rajasthan Governement Health Empowerment and Research Project
      </p>
    </div>
    <div class="row">
      <p>
       <!--  <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a> -->
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to Health Empowerment project by govenrment of rajasthan, built with aim for empowerment of every healthcare service consumer to reach them in need and be with 24*7.</h2>
    <h2>Features</h2>
    <ul>
      <li>
        Built with support of
        <em>E-Mitra</em>.
      </li>
      <li>
        Designed with MEAN.JS, adavance and fast web technology.
      </li>
      <li>
          speech recognition and chatbots for easier use.
      </li>
      <li>
        Web portal with mobile app, kiosk interface and avtive workers on ground.
      </li>
      <li>
        Artificial intelligence for learning from user and hence automating processes and decreasing mannual efforts, also a big game changer for using data for medical research.
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>E</strong>-Mitra</h2>
      <p>Common Stop for all Services to stream line everything around.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>P</strong>ortal</h2>
      <p>Direct in hands of consumer, 24*7 Available service. Utilizing most widely available smartphone tech.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>K</strong>iosk</h2>
      <p>Easy to use, traditional language based, and interface design even suitable for illitrate and suitable for poor.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>P</strong>atient info manager</h2>
      <p>Person to keep things working in workflow in community and give a nock wherever a bottleneck.</p>
    </div>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  <hr>
   <div>
        <img alt="Swasthya-E-Mitra" class="img-responsive text-center" src="modules/core/img/brand/ecosystem.png" />
	</div>
      
  <br>
  <br>
  <br>
  <br>
  <hr>
   <div>
        <img alt="Swasthya-E-Mitra" class="img-responsive text-center" src="modules/core/img/brand/Aim.png" />
    </div>
      <br>
  <br>
  <br>
  <br>
  <hr>
  
  <h1> An audio input that process speech to text and tries to find out sympytoms in local language (planning to change it direct from speech to symptom model) </h1>
 <iframe src="https://levithomason.com/angular-annyang" width="700" height="500"></iframe>
  
 <br>
  <br>
  <br>
  <br>
  <hr>
  <h1> A text based chat bot (more accurate) to talk user in traditional (or preffered) language and ask user particular questions based on our specified questionnaire to collect information about health/disease </h1>
   <div>
        <img alt="Swasthya-E-Mitra" class="img-responsive text-center" src="modules/core/img/brand/bot.png" />
    </div>
      <br>
  <br>
  <br>
  <br>
  <hr>
  
  <h1>How we are already changing the game</h1>
  <div>
        <img alt="Swasthya-E-Mitra" class="img-responsive text-center" src="modules/core/img/brand/c1.png" />
    </div>
      <br>
  <br>
  <br>
  <br>
  <hr>
  <h1>How we are making diagnosis of even undiagnosed or rare patients and even finding innovative/possible ways to solve their healthcare challenges,a applying the global EBM (evidence based medicine) to bring best health outcomes for patients. </h1>
  <div>
        <img alt="Swasthya-E-Mitra" class="img-responsive text-center" src="modules/core/img/brand/c2.png" />
    </div>
      <br>
  <br>
  <br>
  <br>
  <hr>
  
  <h1>Using simplest tools available and completely mannual approach we have a database of 350+ cases which I belive once connected with technology it will bring a novel and innovative way to really reach to maximum no. of users and drive healthcare revolution not only on demand way but always available 24*7, though complete hospital won't be just a second or a click away but it will bring death rates really low, chronic cases extremely well managed for a better and healthier life and very supportive to them who can not afford palliative care like poor cancer patients. One other big opportunity for healthcare system user will be a very streamlined approach for them to reach best health provider required, valuable monitoring, personalized (specific to disease) healthcare awareness, knowledge and more. </h1>
      <br>
  <br>
  <br>
  <br>
  <hr>
  <h1> Workflow</h1>
   <div>
        <img alt="Swasthya-E-Mitra" class="img-responsive text-center" src="modules/core/img/brand/benefits.png" />
    </div>
    <h1> More this system will be used, better it will become with time in terms of data and impact generated from it</h1>
      <br>
  <br>
  <br>
  <br>
  <hr>
  
  <h1>Patient Role</h1>
      <br>
      <h3> Connect anyhow possible</h3>  <br>
  <br>
  <br>
  <hr>
<h1>Patient Benefits</h1>
      <br>
      <h3> </h3>  <br>
  <br>
  <br>
  <hr>

</section>
